<div class="wrapper">
    <div class="sidebar">
        <h2>Tickets</h2>
        <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/user">User</a></li>
            <li><a routerLink="/support-team">Support Team</a></li>
            <li><a routerLink="/tickets">Tickets</a></li>
            <li><a routerLink="/new_ticket">New tickets</a></li>
        </ul> 
        <div class="social_media">
          <a href="#">{{loggedData.emailId}}</a>
      </div>
    </div>
    <div class="main_content">
       
    </div>
</div>