<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Support-team list
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Support member name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                Create new support member
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label>Member name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-secondary">Reset</button>
                        <button class="btn btn-success mx-2">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
